
.wp-block-create-block-inspectorpannel {
	padding: 2px;
	margin-bottom: 50px;
}



.rp-heading-align-left{
	text-align: left !important;
	}
	
.rp-heading-align-center{
	text-align: center !important;
	}
	
.rp-heading-align-right{
	text-align: right !important;
	}
	